@model SampleMvcApp.Models.TblBook

<div>
    @using (Html.BeginForm())
    {
        <div>
            <p>
                Book Id: @Model.BookId
                @Html.HiddenFor(m=>m.BookId)
            </p>
            <p>
                Book Title: @Html.EditorFor(m => m.BookTitle)
            </p>
            <p>
                Book Author: @Html.EditorFor(m => m.Author)
            </p>
            <p>
                Book Publisher: @Html.EditorFor(m => m.BookPublisher)
            </p>
            <p>
                Book Price: @Html.EditorFor(m => m.BookPrice)
            </p>
        </div>
        <button>Save Changes</button>
    }
</div>
