<style>
    body{
        background-color: lightgoldenrodyellow;
    }
    a{
        padding: 5px;
        margin: 5px;
    }
</style>
<h1>@ViewBag.Title</h1>
<hr/>
<div>
    @Html.ActionLink("First Example", "TestMe", "First")
    @Html.ActionLink("Employee Example", "ShowEmployee", "First")
    @Html.ActionLink("Calc Example", "Index", "Calc")
    @Html.ActionLink("BookStore", "Index", "Book")
</div>